<!DOCTYPE html>
<html lang="it" ng-app="myTestApp">
<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <script type="application/javascript" src="node_modules/angular/angular.min.js"></script>

    <script src="assets/app.js" type="application/javascript"></script>

    <script src="assets/controller/controllerMain.js" type="application/javascript"></script>

    <script src="assets/directive/dialogDirective.js" type="application/javascript"></script>
    <script src="assets/directive/tabsDirective.js" type="application/javascript"></script>
</head>
<body ng-controller="controllerMain as vm">

<a class="btn btn-success" style="margin:15px;"
   ng-click="vm.showModal = true" href="">mostra</a>

<div class="wrapper">
    <div class="container">
        <dialog-directive
                on-close="vm.onDialogClose()"
                show-modal="vm.showModal"
                show-close="vm.showClose"
                show-save="vm.showSave">

            <dialog-title>Ciao Titolo</dialog-title>

            <dialog-body>Ciao Body</dialog-body>

            <dialog-footer>
                <button type="button" class="btn btn-primary" ng-click="vm.clickSave()">Controller Save</button>
            </dialog-footer>

        </dialog-directive>

        <tabs-directive>
            <tab-content title="Hello">
                <p>Lorem ipsum dolor sit amet</p>
            </tab-content>
            <tab-content title="World">
                <em>Mauris elementum elementum enim at suscipit.</em>
                <p><a href ng-click="i = i + 1">counter: {{i || 0}}</a></p>
            </tab-content>
        </tabs-directive>
    </div>
</div>
</body>
</html>
